body{
  background-color: lightgrey;
}

.container {
  background-color: grey;
  width: 700px;
  height: 700px;
  border: 3px solid peachpuff;
  margin: 10px auto;
  display: grid;
}

.item {
  border: 1px solid grey;
  background-color: white;
}

.container:hover {
  cursor: crosshair;
}

.buttons{
  margin: auto;
  width: 300px;
  padding: px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.buttons button{
  background-color: peachpuff;
  padding: 2px 15px;
  border-radius: 5px;
  transition-duration: 0.6s;
  font-size: 25px;
  font-family: "Papyrus", "Courier New";
}

.buttons button:hover {
  background-color: pink;
  color: white;
  cursor: pointer;
}